<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.platform.mapper.FriendMapper">
  <resultMap id="BaseResultMap" type="com.james.platform.pojo.entity.Friend">
    <!--@mbg.generated-->
    <!--@Table t_friend-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="friend_id" jdbcType="BIGINT" property="friendId" />
    <result column="friend_nick_name" jdbcType="VARCHAR" property="friendNickName" />
    <result column="friend_head_image" jdbcType="VARCHAR" property="friendHeadImage" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, friend_id, friend_nick_name, friend_head_image, created_time
  </sql>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.james.platform.pojo.entity.Friend" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="friendId != null">
        friend_id,
      </if>
      <if test="friendNickName != null">
        friend_nick_name,
      </if>
      <if test="friendHeadImage != null">
        friend_head_image,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="friendId != null">
        #{friendId,jdbcType=BIGINT},
      </if>
      <if test="friendNickName != null">
        #{friendNickName,jdbcType=VARCHAR},
      </if>
      <if test="friendHeadImage != null">
        #{friendHeadImage,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.james.platform.pojo.entity.Friend">
    <!--@mbg.generated-->
    update t_friend
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="friendId != null">
        friend_id = #{friendId,jdbcType=BIGINT},
      </if>
      <if test="friendNickName != null">
        friend_nick_name = #{friendNickName,jdbcType=VARCHAR},
      </if>
      <if test="friendHeadImage != null">
        friend_head_image = #{friendHeadImage,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>